
body {
    height: 100%;
    margin: 0;
    padding: 4vh;
    font-family: Arial, Verdana, Calibri;
    background-color: #EFEFEF;
}



#sudoku {
    margin: auto;
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin: -1px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    margin: -0.5px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.square span {
    width: 100%;
}

.note {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #303030;
}



#shadow {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#popup {
    display: none;
    position: absolute;
    top: calc(50% - 12rem);
    left: calc(50% - 11.5rem);
    right: calc(50% - 11.5rem);
    width: auto;
    height: auto;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

#popup .close {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}



#numbers {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
}

.num {
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
}

.enable {
    background-color: greenyellow;
}

.disable {
    background-color: red;
}

#menu {
    width: 100%;
    text-align: center;
}

#menu button {
    font-size: 100%;
    background-color: orange;
}


@media (orientation: landscape) {
    body {
        min-width: 80vh;
        min-height: 80vh;
    }

    #menu {
        height: 10vh;
    }

    #menu button {
        width: calc((80vh / 3) - 2vh);
        height: 75%;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    #sudoku {
        height: 80vh;
        width: 80vh;
    }
    
    .box {
        width: calc((80vh / 3) - 2px);
        height: calc((80vh / 3) - 2px);
    }

    .square {
        width: calc((80vh / 9) - 1.7px);
        height: calc((80vh / 9) - 1.5px);
        font-size: 8vh;
    }

    .note {
        width: calc((80vh / 27) - 1px);
        height: calc((80vh / 27) - 1px);
        font-size: 2.5vh;
    }
}


@media (orientation: portrait) {
    body {
        min-width: 80vw;
        min-height: 80vw;
    }

    #menu {
        height: 10vw;
    }

    #menu button {
        width: calc((80vw / 3) - 2vh);
        height: 75%;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    #sudoku {
        height: 80vw;
        width: 80vw;
    }

    .box {
        width: calc((80vw / 3) - 2px);
        height: calc((80vw / 3) - 2px);
    }

    .square {
        width: calc((80vw / 9) - 1.7px);
        height: calc((80vw / 9) - 1.5px);
        font-size: 8vw;
    }

    .note {
        width: calc((80vw / 27) - 1px);
        height: calc((80vw / 27) - 1px);
        font-size: 2.5vw;
    }
}
